.aside-box {
  position: relative;
  z-index: 40;
  // padding-right: 135px;
  // margin-left: -135px;
  grid-column: 3 span;
}

// @media (max-width: 1300px) {
//   .aside-box {
//     margin-left: 0;
//   }
// }

.aside {
  // padding: 24px 24px;
  background-color: var(--grey-color);
  overflow-y: auto;
  @include tablet {
   padding: 24px 15px;
   max-width: 220px;
  }

  // @include small-tablet {
  //   display: none;
  // }

  &__btn {
    @include tablet {
      padding: 13px 8px;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__logo {
    display: inline-block;
    margin-bottom: 20px;
    background-image: url('../img/logo.svg');
    @include bg-cover;
  }

  &__address {
    padding-left: 35px;
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: var(--light-color);
  }


}

