.contact {
  padding: var(--offset) 0;

  &__inner {
    margin-left: -29px;
    display: flex;
    @include big-desktop {
      flex-direction: column;
    }

    @include small-tablet {
      margin-left: 0;
    }

  }

  &__info {
    max-width: 400px;
    padding: 47px 40px;
    background-color: #F4F7F5;
    @include big-desktop {
      max-width: 100%;
    }

    @include small-mobile {
      padding: 25px;
    }


  }

  &__descr {
    margin: 0;
    margin-bottom: 20px;
    color: var(--dark-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
  }

  &__img {
    flex-grow: 1;
    @include big-desktop {
      width: 100%;
      height: 400px;
    }
  }

  &__info-help {
    display: block;
    color: var(--dark-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.2px;
  }

  &__info-touch {
    display: block;
    color: #8E9991;
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
  }



  &__info-btn {
    padding: 14px 46px;
    min-width: 260px;
    min-height: 48px;
    border: 1px solid var(--dark-color);
    @include small-mobile {
      font-size: 14px;
      min-width: auto;
      max-width: 100%;
      padding: 14px 20px;
    }
  }

}
