
.dropdown {
  display: flex;
  position: relative;
  flex: 1 1 50%;
  &__btn {
    text-align: left;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    background-color: transparent;
    width: 100%;
    min-height: 56px;
    padding: 13px 10px;
    border-bottom: 1px solid #8E9991;
  }

  &__arrow {
    width: 20px;
    height: 20px;
  }
}


.dropdown__list {
  display: none;
  position: absolute;
  z-index: 5;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
}

.dropdown__list--visible {
  display: block;
}


.dropdown__item {
  color: var(--black-color, #1C1C1C);
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 30px */
  padding: 10px;
  border-bottom: 1px solid var(--green-100, #8E9991);
  background: var(--White, #FFF);

}

.dropdown__item:hover {
  background: var(--green-100, #8E9991);
  color: white;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
