.footer {
  padding: 35px 0;
  position: relative;
  z-index: 42;
  background-color: var(--light-color);

  @include small-tablet {
    z-index: 2;
  }

  // &.footer-z {
  //   z-index: -1;
  // }



  &__logo {
    background-image: url('../img/footer-logo.svg');
    @include mobile {
      display: none;
    }
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 76px;
  }

  &__phone-block {
    display: flex;
    flex-direction: column;
  }

  &__phone {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    text-decoration: underline;
    color: var(--accent-color);
  }

  &__phone-order {
    font-size: 11px;
  }

  &__burger {
    display: none;
    @include small-tablet {
      display: block;
    }
  }



}


.footer-nav {
  @include big-desktop {
    display: none;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 32px;

  }

  &__link {
    font-size: 15px;
  }
}

.burger {
  @include burger;
}
