.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  @include tablet {
    justify-content: center;
  }

  @include small-tablet {
    justify-content: flex-start;
  }
  // &::after {
  //   @include bg-cover;

  //   content: "";
  //   position: absolute;
  //   z-index: -1;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   background-image: url('../img/hero-bg.jpg');
  // }

  &__inner {
    position: relative;
    z-index: 7;
    max-width: 466px;
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    & video {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

  }


  &__title {
    margin: 0;
    font-weight: 300;
    font-size: 45px;
    line-height: 120%;
    text-transform: uppercase;
    color: var(--light-grey);
    @include mobile {
      font-size: 38px;
    }

    @include small-mobile {
      font-size: 30px;
    }

    span {
      font-weight: 800;
      font-size: 88px;
      line-height: 120%;
      text-transform: uppercase;
      color: var(--light-color);
      @include mobile {
        font-size: 62px;
      }

      @include small-mobile {
        font-size: 43px;
      }
    }
  }

  &__descr {
    margin: 0;
    margin-bottom: 40px;
    color: #E1E1E1;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.2px;
    @include small-mobile {
      font-size: 16px;
    }
  }

  &__box {
    display: flex;
    gap: 40px;
    @include mobile {
      flex-direction: column;
    }
  }

  &__btn {
    min-height: 48px;
    padding: 10px 34px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--light-color);

    @include small-mobile {
      min-width: auto;
      max-width: 80%;
      padding: 10px 20px;
    }
  }

  &__btn-book {
    min-width: 260px;
    background-color: var(--accent-color);

    @include small-mobile {
      padding: 10px;
      min-width: auto;
      max-width: 80%;
    }

  }

  &__btn-more {
    min-width: auto;
    min-width: 160px;
    background-color: transparent;
    border: 1px solid var(--light-color);
    @include small-mobile {
      min-width: auto;
      max-width: 80%;
    }
  }



}
