<section class="about">
  <div class="container">
    <h2 class="about__title section-title">О нас</h2>

    <div class="about__texts grid">
      <p class="about__text">Коворкинг площадью 1350 м2 расположен на 2 этаже БЦ SK Plaza, на пересечении МКАД и Дмитровского шоссе.</p>
      <p class="about__text">Новый, современный гибкий офис на Севере Москвы рассчитан на 140 рабочих мест и оборудован всем необходимым для комфортной работы с перерывами на отдых.</p>
    </div>

      <ul class="about__items list-reset grid">
        <li class="about__item">
          <span class="about__item-num">1350 м2</span>
          <span class="about__item-descr">Общая площадь</span>
        </li>

        <li class="about__item">
          <span class="about__item-num">140</span>
          <span class="about__item-descr">Рабочих мест</span>
        </li>


        <li class="about__item">
          <span class="about__item-num">2023</span>
          <span class="about__item-descr">Год открытия</span>
        </li>


        <li class="about__item">
          <span class="about__item-num">9:00-21:00</span>
          <span class="about__item-descr">ЕЖЕДНЕВНО</span>
        </li>
      </ul>

      <picture>
        <source srcset="img/about-img.webp" type="image/webp">
        <img class="about__img" loading="lazy" src="img/about-img.jpg" width="760px" height="480px" alt="coworking inside">
      </picture>


  </div>
</section>
