<aside class="site-container__aside aside">
  <div class="aside__wrapper">
    <a class="logo aside__logo" href="#">

    </a>

    <address class="aside__address">г.Москва, Дмитровское шоссе, д.163а, к.2, 2 этаж</address>

    <div class="menu">
      <nav class="nav menu__nav" title="aside__nav">
        <ul class="nav__list list-reset list-reset">
          <li class="nav__item">
            <a href="#" class="nav__link">
              Главная
              <ul class="nav__checklist list-reset">
                <li class="nav__checklist-item">
                  <a class="nav__checklist-link" href="#">О нас</a>
                </li>

                <li class="nav__checklist-item">
                  <a class="nav__checklist-link" href="#">Преимущества</a>
                </li>
              </ul>
            </a>
          </li>
          <li class="nav__item"><a href="#" class="nav__link">Услуги и тарифы</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Галерея</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Как мы работаем</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
          <li class="nav__item"><a href="#" class="nav__link">SK Plaza Москва</a></li>
        </ul>


      </nav>

      <button class="aside__btn btn-reset menu__btn">Получить консультацию</button>


      <div class="menu__box">
        <div class="aside__box-mail menu__box-mail">
          <svg class="" style="width: 24px; height: 24px">
            <use xlink:href="img/sprite.svg#aside-mail"></use>
          </svg>

          <a class="aside__email menu__email" href="mailto:coworking@sk-plaza.ru">coworking@sk-plaza.ru</a>
        </div>


        <div class="aside__box-phone menu__box-phone">
          <svg class="" style="width: 24px; height: 24px">
            <use xlink:href="img/sprite.svg#aside-phone"></use>
          </svg>

          <a class="aside__phone menu__phone" href="tel:74959885488">+7 (495) 988-54-88</a>
        </div>
      </div>
    </div>




  </div>

</aside>
