<section class="contact">
  <div class="container">
    <h2 class="contact__title section-title visually-hidden">Связаться с нами вы можете при помощи</h2>
    <div class="contact__inner">
      <div class="contact__info">
        <span class="contact__info-help">Нужна помощь?</span>
        <span class="contact__info-touch">Свяжитесь с нами</span>
        <p class="contact__descr">Оставьте заявку, и наш администратор проконсультирует вас об услугах
          и их стоимости</p>

        <button class="contact__info-btn btn-reset">Получить консультацию</button>
      </div>

      <img class="contact__img" loading="lazy" src="img/contact-img.jpg" width="360px" height="330px" alt="coworking room inside">
      <!-- <picture>
        <source srcset="../img/contact-img.webp" type="image/webp">
        <img class="contact__img" loading="lazy" src="../img/contact-img.jpg" width="360px" height="330px" alt="coworking room inside">
      </picture> -->
    </div>
  </div>
</section>
