<section class="contacts" id="contacts">
  <div class="container">
    <h2 class="contacts__title section-title visually-hidden">Связаться с нами можно:</h2>

    <div class="contacts__inner">
      <div class="contacts-info">
        <h2 class="section-title contacts-info__title">Контакты</h2>
        <address class="contacts-info__address">

          <span>Бизнес- центр "SK Plaza"</span>

          127495, Россия, г.Москва, Дмитровское шоссе, д.163А,
          к.2, 2 этаж
        </address>

        <a class="contacts-info__phone" href="tel:79252429527">+7 (925) 242-95-27</a>
        <a class="contacts-info__mail" href="mailto:coworking@sk-plaza.ru">coworking@sk-plaza.ru</a>
        <a class="contacts-info__btn" href="https://yandex.ru/maps/?rtext=~55.911542,37.542617" target="_blank">Проложить маршрут</a>

        <div class="contacts-info__links">
          <a class="contacts-info__link" href="#">Прайс-лист</a>
          <a class="contacts-info__link" href="#">Договор оферта</a>
          <a class="contacts-info__link" href="#">Обработка персональных данных</a>
        </div>


      </div>

      <!-- <img loading="lazy" src="img/map.jpg" class="contacts__img" width="430px" height="500px" alt="google map"> -->

      <div class="map" id="map"></div>



      <!-- <picture>
        <source srcset="img/map.webp" type="image/webp">
        <img loading="lazy" src="../img/map.jpg" class="contacts__img" width="460px" height="500px" alt="google map">
      </picture> -->

    </div>
  </div>
</section>
