<footer class="footer">
  <div class="big-container footer__container">
    <a class="logo footer__logo" href="#">

    </a>

    <nav class="footer-nav" title="footer navigation">
      <ul class="list-reset footer-nav__list">
        <li class="nav__item"><a href="#" class="footer-nav__link">Главная</a></li>
        <li class="nav__item"><a href="#" class="footer-nav__link">Услуги и тарифы</a></li>
        <li class="nav__item"><a href="#" class="footer-nav__link">Галерея</a></li>
        <li class="nav__item"><a href="#" class="footer-nav__link">Как мы работаем</a></li>
        <li class="nav__item"><a href="#" class="footer-nav__link">Контакты</a></li>
      </ul>
    </nav>

    <div class="footer__phone-block">
      <a class="footer__phone" href="79252429527">+7 (925) 242-95-27</a>
      <a class="footer__phone-order" href="#">Заказать обратный звонок</a>
    </div>

  </div>
</footer>
