<footer class="footer">
  <div class="big-container footer__container">
    <a class="logo footer__logo" href="#">

    </a>

    <button class="btn-reset burger footer__burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
      <span class="burger__line"></span>
    </button>

    <nav class="footer-nav" title="footer navigation">
      <ul class="list-reset footer-nav__list">
        <li class="footer-nav__item"><a href="index.html" class="footer-nav__link">Главная</a></li>
        <li class="footer-nav__item"><a href="services.html" class="footer-nav__link">Услуги и тарифы</a></li>
        <li class="footer-nav__item"><a href="gallery.html" class="footer-nav__link">Галерея</a></li>
        <li class="footer-nav__item"><a href="work.html" class="footer-nav__link">Как мы работаем</a></li>
        <li class="footer-nav__item"><a href="#contacts" class="footer-nav__link">Контакты</a></li>
      </ul>
    </nav>

    <div class="footer__phone-block">
      <a class="footer__phone" href="79252429527">+7 (925) 242-95-27</a>
      <a class="footer__phone-order" href="#">Заказать обратный звонок</a>
    </div>

    <h3 class="author visually-hidden">Alex Svistunov</h3>
    <h3 class="author visually-hidden">made by Alex Svistunov</h3>
    <cite class="site-author visually-hidden">made by author Alex Svistunov</cite>

  </div>
</footer>
