<section class="gallery">
  <div class="container">
    <h1 class="gallery__title visually-hidden">Галлерея SK-PLAZA</h1>

    <div class="swiper gallery__slider">
      <div class="swiper-wrapper gallery__wrapper">
        <div class="swiper-slide">
          <picture>
            <source srcset="img/gal-1.webp" type="image/webp">
            <img loading="lazy" src="img/gal-1.jpg" class="gallery__img" width="1440" height="648" alt="gallery">
          </picture>
        </div>


        <div class="swiper-slide">
          <picture>
            <source srcset="img/gal-2.webp" type="image/webp">
            <img loading="lazy" src="img/gal-2.jpg" class="gallery__img" width="1440" height="648" alt="gallery">
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <source srcset="img/gal-3.webp" type="image/webp">
            <img loading="lazy" src="img/gal-3.jpg" class="gallery__img" width="1440" height="648" alt="gallery">
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <source srcset="img/gal-4.webp" type="image/webp">
            <img loading="lazy" src="img/gal-4.jpg" class="gallery__img" width="1440" height="648" alt="gallery">
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <source srcset="img/gal-5.webp" type="image/webp">
            <img loading="lazy" src="img/gal-5.jpg" class="gallery__img" width="1440" height="648" alt="gallery">
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <source srcset="img/gal-6.webp" type="image/webp">
            <img loading="lazy" src="img/gal-6.jpg" class="gallery__img" width="1440" height="648" alt="gallery">
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <source srcset="img/gal-7.webp" type="image/webp">
            <img loading="lazy" src="img/gal-7.jpg" class="gallery__img" width="1440" height="648" alt="gallery">
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <source srcset="img/gal-8.webp" type="image/webp">
            <img loading="lazy" src="img/gal-8.jpg" class="gallery__img" width="1440" height="648" alt="gallery">
          </picture>
        </div>


        <div class="swiper-slide">
          <picture>
            <source srcset="img/gal-9.webp" type="image/webp">
            <img loading="lazy" src="img/gal-9.jpg" class="gallery__img" width="1440" height="648" alt="gallery">
          </picture>
        </div>


        <div class="swiper-slide">
          <picture>
            <source srcset="img/gal-10.webp" type="image/webp">
            <img loading="lazy" src="img/gal-10.jpg" class="gallery__img" width="1440" height="648" alt="gallery">
          </picture>
        </div>


        <div class="swiper-slide">
          <picture>
            <source srcset="img/gal-11.webp" type="image/webp">
            <img loading="lazy" src="img/gal-11.jpg" class="gallery__img" width="1440" height="648" alt="gallery">
          </picture>
        </div>


        <div class="swiper-slide">
          <picture>
            <source srcset="img/gal-12.webp" type="image/webp">
            <img loading="lazy" src="img/gal-12.jpg" class="gallery__img" width="1440" height="648" alt="gallery">
          </picture>
        </div>


        <div class="swiper-slide">
          <picture>
            <source srcset="img/gal-13.webp" type="image/webp">
            <img loading="lazy" src="img/gal-13.jpg" class="gallery__img" width="1440" height="648" alt="gallery">
          </picture>
        </div>


        <div class="swiper-slide">
          <picture>
            <source srcset="img/gal-14.webp" type="image/webp">
            <img loading="lazy" src="img/gal-14.jpg" class="gallery__img" width="1440" height="648" alt="gallery">
          </picture>
        </div>


        <div class="swiper-slide">
          <picture>
            <source srcset="img/gal-15.webp" type="image/webp">
            <img loading="lazy" src="img/gal-15.jpg" class="gallery__img" width="1440" height="648" alt="gallery">
          </picture>
        </div>
      </div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
