<section class="gallery">
  <div class="container">
    <h1 class="gallery__title visually-hidden">Галлерея SK-PLAZA</h1>

    <div class="swiper gallery__slider">
      <div class="swiper-wrapper gallery__wrapper">
        <div class="swiper-slide">
          <picture>
            <source srcset="img/gallery.webp" type="image/webp">
            <img loading="lazy" src="img/gallery.jpg" class="gallery__img" width="760px" height="648px" alt="gallery">
          </picture>
        </div>


        <div class="swiper-slide">
          <picture>
            <source srcset="img/gallery.webp" type="image/webp">
            <img loading="lazy" src="img/gallery.jpg" class="gallery__img" width="760px" height="648px" alt="gallery">
          </picture>
        </div>
      </div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
