
<header class="header">
  <div class="container header__container">
    <a class="logo header__logo" href="#">

    </a>

    <div class="header__box">
      <address class="header__address">г.Москва, Дмитровское шоссе, д.163а, к.2, 2 этаж</address>


      <button class="header__btn btn-reset menu__btn">Получить консультацию</button>
    </div>

    <button class="btn-reset burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
      <span class="burger__line"></span>
    </button>

    <div class="menu header-menu header__menu" data-menu>
      <nav class="nav menu__nav" title="header__nav">
        <ul class="nav__list list-reset list-reset">
          <li class="nav__item">
            <a href="index.html" class="nav__link">
              Главная
              <ul class="nav__checklist list-reset">
                <li class="nav__checklist-item">
                  <a class="nav__checklist-link" href="#about" data-scroll>О нас</a>
                </li>

                <li class="nav__checklist-item">
                  <a class="nav__checklist-link" href="#advantages" data-scroll>Преимущества</a>
                </li>
              </ul>
            </a>
          </li>
          <li class="nav__item"><a href="services.html" class="nav__link">Услуги и тарифы</a></li>
          <li class="nav__item"><a href="gallery.html" class="nav__link">Галерея</a></li>
          <li class="nav__item"><a href="work.html" class="nav__link">Как мы работаем</a></li>
          <li class="nav__item"><a href="#contacts" class="nav__link" data-scroll>Контакты</a></li>
          <li class="nav__item"><a href="#" class="nav__link">SK Plaza Москва</a></li>
        </ul>


      </nav>

      <button class="header-menu__btn btn-reset menu__btn">Получить консультацию</button>


      <div class="menu__box">
        <div class="header__box-mail menu__box-mail">
          <svg class="" style="width: 24px; height: 24px">
            <use xlink:href="img/sprite.svg#aside-mail"></use>
          </svg>

          <a class="header__email menu__email" href="mailto:coworking@sk-plaza.ru">coworking@sk-plaza.ru</a>
        </div>


        <div class="header__box-phone menu__box-phone">
          <svg class="" style="width: 24px; height: 24px">
            <use xlink:href="img/sprite.svg#aside-phone"></use>
          </svg>

          <a class="header__phone menu__phone" href="tel:74959885488">+7 (495) 988-54-88</a>
        </div>
      </div>
    </div>

    <script>

    </script>



  </div>
</header>
