<section class="hero">
  <div class="hero__video">
    <video autoplay="autoplay" loop="loop" muted="muted" loading="lazy">
      <source src="img/hero-video.mp4" type="video/mp4">
    </video>
  </div>
  <div class="hero__inner">
    <h1 class="hero__title">Коворкинг<span>
        SK PLAZA
      </span>
    </h1>
    <p class="hero__descr">Современное рабочее пространство для комфортной работы индивидуально или в команде</p>
    <div class="hero__box">
      <button class="hero__btn hero__btn-book btn-reset" id="signUp">Записаться на просмотр</button>
      <button class="hero__btn hero__btn-more btn-reset">Подробнее</button>
    </div>
  </div>
</section>
