<section class="hours">
  <div class="container">
    <h1 class="hours__title section-title">Режим работы</h1>

    <span class="hours__days">Ежедневно</span>

    <div class="hours__block">
      <img loading="lazy" src="img/clock.svg" class="hours__block-clock" width="60px" height="60px" alt="clock">
      <div class="hours__block-hours">
        <div class="hours__block-num">
          9 <span>00</span>
        </div>

        <span class="hours__block-symbol">:</span>
        <div class="hours__block-num">
          21 <span>00</span>
        </div>
      </div>
    </div>
  </div>
</section>
