<section class="hours">

  <div class="container">
    <h1 class="hours__title section-title">Режим работы</h1>

    <span class="hours__days">Ежедневно</span>

    <div class="hours__block">
      <div class="hours__block-clock">
        <lord-icon
            src="https://cdn.lordicon.com/qvyppzqz.json"
            trigger="hover"
            colors="primary:#1c1c1c,secondary:#d8bea0"
            style="width:250px;height:250px">
        </lord-icon>
      </div>

      <div class="hours__block-hours">
        <div class="hours__block-num">
          9 <span>00</span>
        </div>

        <span class="hours__block-symbol">:</span>
        <div class="hours__block-num">
          21 <span>00</span>
        </div>
      </div>
    </div>
  </div>
</section>
