<section class="meeting-rooms" id="meeting-rooms">
  <div class="container">
    <h2 class="meeting-rooms__title section-subtitle">Переговорные комнаты</h2>
    <div class="swiper meeting-rooms__slider">
      <div class="swiper-wrapper meeting-rooms__wrapper">
        <div class="swiper-slide">
          <picture>
            <source srcset="img/meeting-rooms-1.webp" type="image/webp">
            <img loading="lazy" src="img/meeting-rooms-1.jpg" class="meeting-rooms__img-slide" width="760px" height="480px"
              alt="meeting-rooms">
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <source srcset="img/meeting-rooms-2.webp" type="image/webp">
            <img loading="lazy" src="img/meeting-rooms-2.jpg" class="meeting-rooms__img-slide" width="760px" height="480px"
              alt="meeting-rooms">
          </picture>
        </div>
      </div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>


    <div class="meeting-rooms__box">
      <table>
        <thead>
          <tr>
            <td>Тариф <br>
              «Мини-офис»</td>
            <td>Малая переговорная</td>
            <td>Большая переговорная</td>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="table__first-data">Вместимость</td>
            <td>До 4 человек</td>
            <td>До 6 человек</td>
          </tr>

          <tr>
            <td class="table__first-data">Стоимость</td>
            <td>1 000 р/час</td>
            <td>1 200 р/час</td>
          </tr>

          <tr>
            <td class="table__first-data">Магнитно<br>-маркерная доска</td>
            <td><img src="img/table-correct.svg" alt="correct"></td>
            <td><img src="img/table-correct.svg" alt="correct"></td>
          </tr>

          <tr>
            <td class="table__first-data">Экран для <br> презентаций</td>
            <td><img src="img/table-correct.svg" alt="correct"></td>
            <td><img src="img/table-correct.svg" alt="correct"></td>
          </tr>
        </tbody>
      </table>
    </div>

    <h3 class="meeting-rooms__other section-subtitle" id="other">Другое</h3>

    <ul class="meeting-rooms__list list-reset">
      <li class="meeting-rooms__item">Услуга печати</li>
      <li class="meeting-rooms__item">Локеры (шкафчики для хранения вещей)</li>
      <li class="meeting-rooms__item">Проведение семинаров, вебинаров и др. мероприятий. Вместимость до 20 человек</li>
    </ul>
  </div>
</section>
