
<div class="modal modal--fillform fixed-block">
  <div class="modal__inner">
    <button class="modal__btn btn-reset"></button>
    <form action="#" class="modal-form modal-fillform">
      <h3 class="modal-form__title section-title modal-fillform__title">Пожалуйста заполните форму</h3>
      <p class="modal-form__descr">
        Мы свяжемся с вами в течение 15 минут, чтобы назначить просмотр в удобное для вас время
      </p>
      <div class="modal-form__box">
        <label class="modal-form__label">
          <input type="text" name="Имя" class="input-reset modal-form__input" placeholder="Имя"/>
        </label>

        <label class="modal-form__label">
          <input type="tel" name="Телефон" class="input-reset modal-form__input" placeholder="Телефон"/>
        </label>
      </div>

      <div class="modal-form__box">
        <label class="modal-form__label">
          <input type="email" name="Электронная почта" class="input-reset modal-form__input" placeholder="Электронная почта"/>
        </label>
        <div class="modal-form__right">
          <button class="btn-reset modal-form__btn">Отправить</button>
          <small class="modal-form__terms">Нажимая на кнопку, вы соглашаетесь с
            <a class="modal-form__link" href="#">условиями пользования персональными данными</a></small>
        </div>
      </div>


    </form>
  </div>
</div>
