<section class="offices" id="offices">
  <div class="container">
    <h2 class="offices__title section-subtitle">Офисы</h2>

    <picture>
      <source srcset="img/office-1.webp" type="image/webp">
      <img loading="lazy" src="img/office-1.jpg" class="offices__img" width="760px" height="480px" alt="office">
    </picture>

    <div class="offices__box">
      <table>
        <thead>
          <tr>
            <td>Тариф <br>
              «Мини-офис»</td>
            <td>40</td>
            <td>45</td>
            <td>55</td>
            <td>60</td>
            <td>70</td>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="table__first-data">Стоимость</td>
            <td>40 т. р.</td>
            <td>45 т. р.</td>
            <td>55 т. р.</td>
            <td>60 т. р.</td>
            <td>70 т. р.</td>
          </tr>

          <tr>
            <td class="table__first-data">Аренда<br>
              мини-офиса</td>
            <td>№4</td>
            <td>№2</td>
            <td>№12</td>
            <td>№11</td>
            <td>№12</td>
          </tr>


          <tr>
            <td class="table__first-data">Wi-fi</td>
            <td><img src="img/correct.svg" alt="correct"></td>
            <td><img src="img/correct.svg" alt="correct"></td>
            <td><img src="img/correct.svg" alt="correct"></td>
            <td><img src="img/correct.svg" alt="correct"></td>
            <td><img src="img/correct.svg" alt="correct"></td>
          </tr>


          <tr>
            <td class="table__first-data">МФУ</td>
            <td><img src="img/correct.svg" alt="correct"></td>
            <td><img src="img/correct.svg" alt="correct"></td>
            <td><img src="img/correct.svg" alt="correct"></td>
            <td><img src="img/correct.svg" alt="correct"></td>
            <td><img src="img/correct.svg" alt="correct"></td>
          </tr>

          <tr>
            <td class="table__first-data">Чай/кофе</td>
            <td><img src="img/correct.svg" alt="correct"></td>
            <td><img src="img/correct.svg" alt="correct"></td>
            <td><img src="img/correct.svg" alt="correct"></td>
            <td><img src="img/correct.svg" alt="correct"></td>
            <td><img src="img/correct.svg" alt="correct"></td>
          </tr>

          <tr>
            <td class="table__first-data">2 часа<br> переговорной <br> комнаты</td>
            <td><img src="img/correct.svg" alt="correct"></td>
            <td><img src="img/correct.svg" alt="correct"></td>
            <td><img src="img/correct.svg" alt="correct"></td>
            <td><img src="img/correct.svg" alt="correct"></td>
            <td><img src="img/correct.svg" alt="correct"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
