<section class="open-space" id="open-space">
  <div class="container">
    <h2 class="open-space__title section-subtitle">Open-space</h2>

    <picture>
      <source srcset="img/open-space.webp" type="image/webp">
      <img loading="lazy" src="img/open-space.jpg" class="open-space__img" width="760px" height="480px" alt="open space">
    </picture>

    <div class="open-space__box">
      <table>
        <thead>
          <tr>
            <td>Тариф</td>
            <td>Гостевой 1</td>
            <td>Гостевой 10</td>
            <td>Переменный</td>
            <td>Постоянный</td>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="table__first-data">Стоимость</td>
            <td>750 р/день</td>
            <td>6 500 р</td>
            <td>15 000 р</td>
            <td>17 500 р</td>
          </tr>

          <tr>
            <td class="table__first-data">Посещение</td>
            <td>1 день посещения</td>
            <td>10 дней посещений</td>
            <td>Месяц посещения</td>
            <td>Месяц посещения</td>
          </tr>

          <tr>
            <td class="table__first-data">Закрепленное рабочее место</td>
            <td><img src="img/table-error.svg" alt="error"></td>
            <td><img src="img/table-error.svg" alt="error"></td>
            <td><img src="img/table-error.svg" alt="correct"></td>
            <td><img src="img/table-correct.svg" alt="correct"></td>
          </tr>

          <tr>
            <td class="table__first-data">Wi-fi</td>
            <td><img src="img/table-correct.svg" alt="correct"></td>
            <td><img src="img/table-correct.svg" alt="correct"></td>
            <td><img src="img/table-correct.svg" alt="correct"></td>
            <td><img src="img/table-correct.svg" alt="correct"></td>
          </tr>


          <tr>
            <td class="table__first-data">МФУ</td>
            <td><img src="img/table-correct.svg" alt="correct"></td>
            <td><img src="img/table-correct.svg" alt="correct"></td>
            <td><img src="img/table-correct.svg" alt="correct"></td>
            <td><img src="img/table-correct.svg" alt="correct"></td>
          </tr>

          <tr>
            <td class="table__first-data">Чай/кофе</td>
            <td><img src="img/table-correct.svg" alt="correct"></td>
            <td><img src="img/table-correct.svg" alt="correct"></td>
            <td><img src="img/table-correct.svg" alt="correct"></td>
            <td><img src="img/table-correct.svg" alt="correct"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
