<div class="modal">
  <div class="modal__inner">
    <button class="modal__btn btn-reset"></button>
    <form action="#" class="form-order">
      <h3 class="form-order__title section-title">Заказать звонок</h3>
      <p class="form-order__descr">
        Заполните форму и наши специалисты свяжутся с Вами с ближайшее время
      </p>
      <div class="form-order__box">
        <label class="form-order__label">
          <input
            type="text"
            name="Имя"
            class="input-reset form-order__input"
            placeholder="Имя"
          />
        </label>

        <label class="form-order__label">
          <input
            type="text"
            name="Телефон"
            class="input-reset form-order__input"
            placeholder="Телефон"
          />
        </label>
      </div>

      <div class="form-order__box">
        <label class="form-order__label">
          <input
            type="text"
            name="Когда позвонить"
            class="input-reset form-order__input"
            placeholder=" Когда позвонить"
          />
        </label>

        <button class="btn-reset form-order__btn">Получить консультацию</button>
        <small class="form-order__terms"
          >Нажимая на кнопку, вы соглашаетесь с
          <a class="form-order__link" href=""
            >условиями пользования персональными данными</a
          ></small
        >
      </div>
    </form>
  </div>
</div>
